.c-book_list {
    width: 100%;
    flex-wrap: wrap;
    height: 65%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.c-control_buttons {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.c-book_list > a {
    text-decoration: none;
}

.c-book_notes__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.c-book_cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    background-color: rgb(79, 122, 201);
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.c-book_cover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.c-book {
    color: white;
    text-align: center;
}

.c-new_note_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div[class*=note], input[class*=note], textarea[class*=note] {
    font-weight: 100;
}

.c-note_title, .c-new_note_form-title {
    font-size: 2.5em;
    margin-bottom: 5px;
    -webkit-margin-before: 0em;
}

.c-new_note_form-title {
    border: none;
    background-color: transparent;
    outline: none;
}

.c-new_note_form-content {
    font-size: 1em;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    height: 50vh;
    margin: 10px 0;
}

.c-new_note_form-submit {
    width: 50%;
    margin: auto;
    border: none;
    background-color: rgb(60, 117, 223);
    border-radius: 5px;
    color: white;
    padding: 10px 0;
    font-size: 0.9em;
    outline: none;
}

.c-new_note_form-submit:active {
    background-color: rgb(33, 68, 134);
    transform: translateY(1px);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.c-note_action_button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.2;
    margin-top: 10px; 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.c-note_action_button:focus{
    outline: none;
}

.c-note_action_button:hover {
    opacity: 0.6;
}

.c-note_wrapper {
    width: 60%;
    margin: auto;
    margin-bottom: 10%;
}

.c-note_content {
    font-weight: 100;
}